.infos-product {
    border: 1px solid black;
    width: 240px;
    text-align: center;
    margin-top: 60px;
    height: 300px;
    margin-left: 50px;
    border-radius: 5% 5% 5% 5%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    border: none;
    color: #000;
    z-index: 1;
}

Link {
    list-style-type: none;
    text-decoration: none;
}

.infos-product:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.infos-product:hover {
    color: #000;
}

.infos-product:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.infos-product:active {
    top: 2px;
}

.action {
    border: 1px;
    justify-content: space-between;
}

.menu-list {
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    left: 40px;
    position: fixed;
    margin-top: 60px;
    width: 300px;
    height: 50%;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
}

.menus {
    position: fixed;
    top: 0px;
    z-index: 2;
    
}

img {
    justify-content: center;
}

.items {
    text-align: center;
}

.items:hover {
    border: 1px solid black;
    width: 240px;
    text-align: center;
    margin-top: 20px;
    height: 200px;
    border-radius: 5% 5% 5% 5%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    border: none;
    color: #000;
    background-color: white;
}

.detailpage {
    margin-top: 65px;
}

.slick-coast {
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    margin-bottom: 20px;
}
.carts-store{
    position: fixed;
    z-index: 1;
    right: 30px;
    top: 30%;
    color: red;
    font-size: 30px;
}
.slick-coast:hover {
    border: 1px solid black;
    text-align: center;
    border-radius: 5% 5% 5% 5%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    border: none;
    color:white;
    background-color: white;
}
.giam{
    height: 40px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    color: black;
    background-color: aquamarine;
}
img{
    opacity: 1;
    border-radius: 10px 10px 10px 10px;
}
body{
    background-color: rgb(248,248,248);
}
@media  screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .search{
        display: none;
    }
    .menu-list {
        margin: 10px;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        margin-top: 70px;
        margin-bottom: 10px;
        width: 300px;
        height: auto;
        z-index: 1;
    }
    .infos-product {
        border: 1px solid black;
        width: 240px;
        text-align: center;
        margin-top: 130px;
        height: 300px;
        margin-left: 50px;
        border-radius: 5% 5% 5% 5%;
        transition: all 0.3s ease;
        cursor: pointer;
        position: relative;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
            7px 7px 20px 0px rgba(0, 0, 0, .1),
            4px 4px 5px 0px rgba(0, 0, 0, .1);
        outline: none;
        border: none;
        color: #000;
        z-index: 1;
    }
  }